node_modules

# local environment variables
.env*

# temporary files
*.tmp.*

# perf audit logs
/.lighthouseci/

# I don't know what to do with these yet
/reports/

# I don't know why any of these get created
# ... but I don't want them in git
/test-results/
/.netlify
/playwright-report/
/playwright/.cache/
